html {
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-weight: 400;
  height: 100%;
  font-size: 15px;
  background: #ebf1f5;
  color: #222;
  font-feature-settings: 'tnum';
  margin: 0;
  padding: 0;
  font-family: 'gt america', 'Helvetica Neue', 'sans-serif';
}

.map-highlight-layer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #ccc;
  z-index: 999999;
}

#root,
.app {
  height: 100%;
}

.button-lock {
  font-size: 12px;
  position: relative;
  top: -2px;
  padding: 0px 2px 3px;
  width: 22px;
  height: 22px;
  border-radius: 100px;
  text-align: center;
  cursor: pointer;
}

.button-lock.-locked {
  opacity: 1;
}

.button-lock.-unlocked {
  opacity: 0;
}

.button-lock:hover {
  background: #00000024;
}

.button-lock:focus {
  outline: none;
  background: #00000024;
}

button {
  font: inherit;
  font-size: inherit;
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
}

button[disabled] {
  opacity: 0.5;
}

.undo-redo-buttons button {
  padding: 2px;
}

.builder {
  text-align: left;
  display: flex;
  height: 100%;
  flex-direction: column;
}

.builder header {
  height: 20px;
  background: #32323c;
  min-height: 48px;
  display: flex;
}

.header-logo {
  flex: 1 1;
  padding-top: 9px;
  padding-left: 10px;
}

.header-logo img {
  height: 30px;
}

.header-title {
  flex: 1;
  text-align: center;
  color: #fff;
  padding-top: 15px;
  font-size: 16px;
  font-weight: 500;
}

.header-actions {
  flex: 1;
  text-align: right;
  color: #fff;
  padding-top: 14px;
  padding-right: 10px;
}

.builder main {
  flex: 1;
  display: flex;
}

.map-container {
  flex: 1 1;
  text-align: left;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  outline: none;
  border-radius: 4px;
  box-shadow: 0 0 1px #a9acae;
  margin: 10px;
  background: #fff;
  border: 1px solid #f1f1f1;
  display: flex;
  flex-direction: column;
}

.map {
  width: 100%;
  height: 100%;
}

.toggle.hidden {
  display: none;
}

.mapboxgl-map {
  width: 100%;
  height: 100%;
}

.mapboxgl-canvas {
  outline: none;
}

.sidebar {
  background: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 6000;
  position: relative;
  flex-shrink: 0;
  box-shadow: 0 0 1px #a9acae;
  border-right: 1px solid #f1f1f1;
}

.district-table {
  flex: 1;
  overflow-y: auto;
  padding: 0 5px 10px;
}

.map-actions {
  z-index: 5000;
  background: #ffffff;
  border-bottom: 1px solid #e3e6e8;
  display: flex;
  padding: 4px;
  flex-shrink: 0;
}

.actions-extra {
  position: absolute;
  bottom: 12px;
  background: #fff;
  right: 12px;
}

.actions-right {
  flex: 1;
  text-align: right;
  padding: 8px 4px;
}

.actions-right .dropdown {
  margin-left: 10px;
}

.map-action {
  background: none;
  padding: 8px;
  margin-right: 4px;
  border-radius: 4px;
}

.map-action.selected {
  background-color: #e6ebf3;
}

.button-group {
  opacity: 0;
  top: 10px;
  padding: 5px 15px;
  display: flex;
  position: absolute;
  right: 0;
}

.button-group.changed {
  opacity: 1;
}

.button-group:not(.changed) button {
  pointer-events: none;
}

.button-group button {
  width: 100%;
  padding: 0 10px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 100px;
  height: 36px;
}

.button-group button:first-child {
  margin-right: 6px;
}

.button-reject {
  color: #222;
  border: 2px solid transparent;
  background: #ccc;
}

.button-accept {
  color: #fff;
  border: 2px solid transparent;
  padding-left: 6px !important;
  background: #2786c1;
  white-space: nowrap;
}

.undo-redo-buttons {
  display: inline-block;
}

.demographic {
  height: 5px;
  display: inline-block;
}

.demographic-0 {
  background: #f5b470;
}

.demographic-1 {
  background: #6ac59b;
}

.demographic-2 {
  background: #f094c4;
}

.demographic-3 {
  background: #c8bef2;
}

.demographic-4 {
  background: #999999;
}

.demographics {
  position: relative;
  top: -3px;
  display: inline-block;
  width: 50px;
  height: 5px;
  white-space: nowrap;
}

.district-property {
  display: table-cell;
  z-index: 1;
  position: relative;
  border-bottom: 1px solid #e0e0e0;
  padding: 8px 4px 3px;
}

.district-property:before {
  border: 1px solid #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  content: '';
  border-left: 0;
  border-right: 0;
}

.text-right {
  text-align: right;
}

.table-header {
  display: table-row;
  border-bottom: 1px solid #ccc;
  position: relative;
  color: #777;
  font-size: 13px;
}

.table-header .district-property {
  padding-bottom: 9px;
}

.sidebar h2 {
  margin: 21px 13px 20px;
  font-size: 18px;
  color: #222;
  font-weight: 700;
}

.item {
  cursor: pointer;
  margin-left: 0;
  margin-right: 0;
  border-bottom: 1px solid #ccc;
  text-align: left;
  display: table-row;
  position: relative;
  z-index: 1000;
}

.item:nth-child(2) .district-color-symbol {
  border: 1px solid #ccc;
}

.item:hover .button-lock {
  opacity: 1;
}

.item.selected {
  background: #e8ebf2;
}

.district-background {
  border-bottom: 0;

  background: #fff;
}

.item.selected .district-background-right,
.item.selected .district-background-left {
  width: 30px;
  border-radius: 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  background: #e8ebf2;
}

.district-property:last-child {
  z-index: 0;
}

.item.selected .district-background-left {
  left: 0;
}

.item.selected .district-background-right {
  right: 0;
}

.item-container {
  padding: 1px 5px;
  margin: 1px -7px 0px;
  color: #666;
  border-radius: 50px;
  display: table-row;
}

.item:focus {
  outline: none;
}

.item:focus .item-container {
  background: #e8ebf2;
}

.item:first-child .district-color-symbol {
  border: 1px solid #ccc;
}

.district-color-symbol {
  height: 13px;
  width: 13px;
  background: #ccc;
  display: inline-block;
  position: relative;
  top: 1px;
  margin-right: 7px;
  border-radius: 100px;
}

.district-name {
  display: inline-block;
  /*padding: 4px;*/
  width: 32px;
  opacity: 0.8;
}

.district-compactness-score {
  /*display: inline-block;*/
}

.district-population,
.district-deviation {
  display: inline-block;
  /*padding: 4px;*/
  width: 100%;
  text-align: right;
  opacity: 0.8;
}

.district-population {
  min-width: 83px;
}

.district-deviation {
  min-width: 93px;
}

.item.selected .district-name,
.item.selected .district-population,
.item.selected .district-deviation {
  opacity: 1;
}

.unit {
  padding: 6px 10px;
}

.no-padding-left {
  padding-left: 0;
}

.no-padding-right {
  padding-right: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.react-hint {
  animation: none;
}

.react-hint__content {
  background: #222;
  font-size: 12px;
  /*max-width: 140px;*/
}

.react-hint--top:after {
  border-top-color: #222;
}

.react-hint--bottom:after {
  border-bottom-color: #222;
}

.react-hint--right:after {
  border-right-color: #222;
}

.react-hint--left:after {
  border-left-color: #222;
}
