html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-weight: 400;
  font-size: 15px;
  background: #ebf1f5;
  color: #444;
  font-feature-settings: 'tnum';
  margin: 0;
  padding: 0;
  font-family: 'din next lt w23', 'Helvetica Neue', 'sans-serif';
}

.button-lock {
  font-size: 12px;
  position: relative;
  top: -2px;
  padding: 0px 2px 3px;
  width: 22px;
  height: 22px;
  border-radius: 100px;
  text-align: center;
  cursor: pointer;
}

.button-lock:hover {
  background: #00000024;
}

.button-lock:focus {
  outline: none;
  background: #00000024;
}

.button-lock.-unlocked {
  opacity: 0.4;
}

.App {
  text-align: left;
}

button {
  font: inherit;
  font-size: inherit;
  background: none;
  border: none;
}

.map-container {
  position: absolute !important;
  text-align: left;
  top: 0;
  left: 320px;
  right: 0;
  bottom: 0;
  background: #fff;
  outline: none;
  margin: 8px;
  border-radius: 4px;
  box-shadow: 0 0 1px #a9acae;
}

.map {
  position: absolute;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
}

.map-actions {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 50px;
}

.map-action {
  background: none;
}

.map-action.selected {
  background-color: #ccc;
}

.mapboxgl-map {
  position: absolute !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.mapboxgl-canvas {
  outline: none;
}

.button-accept {
  width: 100%;
  padding: 8px;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  background: #2786c1;
  border-radius: 2px;
  margin-bottom: 20px;
}

.demographic {
  height: 5px;
  display: inline-block;
}

.demographic-0 {
  background: #f5b470;
}

.demographic-1 {
  background: #6ac59b;
}

.demographic-2 {
  background: #f094c4;
}

.demographic-3 {
  background: #c8bef2;
}

.demographic-4 {
  background: #999999;
}

.demographics {
  position: relative;
  top: -3px;
  margin-left: 6px;
  margin-right: 5px;
  display: inline-block;
  width: 45px;
  height: 5px;
  white-space: nowrap;
}

.sidebar {
  position: absolute !important;
  text-align: left;
  top: 0;
  left: 0;
  width: 320px;
  bottom: 0;
  padding: 15px;
  overflow-y: auto;
  background: #fff;
  box-shadow: 0 0 1px #a9acae;
}

.item {
  cursor: pointer;
  margin-left: 0;
  margin-right: 0;
  border-bottom: 1px solid #ccc;
  width: 100%;
  text-align: left;
}

.item-container {
  padding: 1px 5px;
  margin: 1px -7px 0px;
  color: #666;
  border-radius: 50px;
}

.item.selected .item-container {
  background-color: #e8ebf2;
  color: #222;
}

.item:focus {
  outline: none;
}

.item:focus .item-container {
  background-color: #f2f4f8;
}

.item:first-child .district-color-symbol {
  border: 1px solid #ccc;
}

.district-color-symbol {
  height: 15px;
  width: 15px;
  background: #ccc;
  display: inline-block;
  position: relative;
  top: 2px;
  margin-right: 2px;
  border-radius: 100px;
}

.district-name {
  display: inline-block;
  padding: 4px;
  width: 32px;
  opacity: 0.8;
}

.district-compactness-score {
  display: inline-block;
}

.district-population {
  display: inline-block;
  padding: 4px;
  width: 100px;
  text-align: right;
  opacity: 0.8;
}

.item.selected .district-name,
.item.selected .district-population {
  opacity: 1;
}

.unit {
  padding: 6px 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
