html {
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-weight: 400;
  height: 100%;
  font-size: 15px;
  background: #ebf1f5;
  color: #444;
  font-feature-settings: 'tnum';
  margin: 0;
  padding: 0;
  font-family: 'din next lt w23', 'Helvetica Neue', 'sans-serif';
}

.map-highlight-layer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #ccc;
  z-index: 999999;
}

#root,
.app {
  height: 100%;
}

.button-lock {
  font-size: 12px;
  position: relative;
  top: -2px;
  padding: 0px 2px 3px;
  width: 22px;
  height: 22px;
  border-radius: 100px;
  text-align: center;
  cursor: pointer;
}

.button-lock:hover {
  background: #00000024;
}

.button-lock:focus {
  outline: none;
  background: #00000024;
}

.button-lock.-unlocked {
  opacity: 0.4;
}

button {
  font: inherit;
  font-size: inherit;
  background: none;
  border: none;
}

.builder {
  text-align: left;
  display: flex;
  height: 100%;
}

.district-table {
  display: table;
  z-index: 100;
  position: relative;
}

.sidebar {
  padding: 15px;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 2000;
  overflow-y: auto;
  box-shadow: 0 0 1px #a9acae;
  background: #fff;
}

.map-container {
  position: absolute;
  text-align: left;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  outline: none;
  border-radius: 4px;
  box-shadow: 0 0 1px #a9acae;
}

.map {
  width: 100%;
  height: 100%;
}

.map-actions {
  height: 30px;
  position: relative;
  z-index: 5000;
  background: #ffffff;
  flex: 1;
}

.map-action {
  background: none;
}

.map-action.selected {
  background-color: #ccc;
}

.toggle.hidden {
  display: none;
}

.mapboxgl-map {
  width: 100%;
  height: 100%;
}

.mapboxgl-canvas {
  outline: none;
}

.button-group {
  width: 100%;
  display: flex;
  opacity: 0.4;
}

.button-group.changed {
  opacity: 1;
}

.button-group:not(.changed) button {
  pointer-events: none;
}

.button-group button:first-child {
  border-radius: 2px 0 0 2px;
}

.button-group button:last-child {
  border-radius: 0 2px 2px 0;
}

.button-group button {
  width: 100%;
  padding: 8px;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
}

.button-reject {
  background: #ccc;
  border-radius: 2px;
  margin-bottom: 20px;
}

.button-accept {
  color: #fff;
  background: #2786c1;
  margin-bottom: 20px;
}

.demographic {
  height: 5px;
  display: inline-block;
}

.demographic-0 {
  background: #f5b470;
}

.demographic-1 {
  background: #6ac59b;
}

.demographic-2 {
  background: #f094c4;
}

.demographic-3 {
  background: #c8bef2;
}

.demographic-4 {
  background: #999999;
}

.demographics {
  position: relative;
  top: -3px;
  margin-left: 6px;
  margin-right: 5px;
  display: inline-block;
  width: 45px;
  height: 5px;
  white-space: nowrap;
}

.district-property {
  display: table-cell;
  border-bottom: 1px solid #ccc;
  z-index: 1;
  position: relative;
  padding: 1px 0;
}

.item {
  cursor: pointer;
  margin-left: 0;
  margin-right: 0;
  border-bottom: 1px solid #ccc;
  text-align: left;
  display: table-row;
  position: relative;
}

.item-container {
  padding: 1px 5px;
  margin: 1px -7px 0px;
  color: #666;
  border-radius: 50px;
  display: table-row;
}

.item.selected .district-background {
  content: '';
  position: absolute;
  height: 30px;
  background: #f2f4f8;
  margin-left: 0;
  left: -5px;
  right: -5px;
  z-index: 0;
  border-radius: 100px;
  margin-top: 1px;
}

.item:focus {
  outline: none;
}

.item:focus .item-container {
  background-color: #f2f4f8;
}

.item:first-child .district-color-symbol {
  border: 1px solid #ccc;
}

.district-color-symbol {
  height: 15px;
  width: 15px;
  background: #ccc;
  display: inline-block;
  position: relative;
  top: 2px;
  margin-right: 2px;
  border-radius: 100px;
}

.district-name {
  display: inline-block;
  padding: 4px;
  width: 32px;
  opacity: 0.8;
}

.district-compactness-score {
  display: inline-block;
  margin-left: 4px;
}

.item {
}

.district-population,
.district-deviation {
  display: inline-block;
  padding: 4px;
  /*width: 100%*/
  text-align: right;
  opacity: 0.8;
}

.item.selected .district-name,
.item.selected .district-population,
.item.selected .district-deviation {
  opacity: 1;
}

.unit {
  padding: 6px 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
